@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#wrap {
    width: 100%;
}

#aside {
    width: 200px;
    height: 750px;
    background-color: #b6b6b6;
}

#main {
    width: calc(100% - 200px);
    h750
}

#footer {}