/* body */
body {
    background-color: var(--mainColor);
}

/* skip */
#skip {
    position: relative;
    z-index: 100000;
}

#skip a {
    background-color: var(--black);
    color: var(--white);
    position: absolute;
    left: -400px;
    top: 0;
    padding: 10px 20px;
}

#skip a:active,
#skip a:focus {
    left: 0;
}

/* main */
#main {
    min-height: 50vh;
}

/* container */
.container {
    max-width: 1260px;
    width: 96%;
    margin: 0 auto;
}

@media (max-width:800px) {
    .container {
        width: 100%;
        margin: 0 16px;
    }
}

/* line */
.line-top {
    position: relative;
    border-top: 3px solid var(--black);
}

.line-top::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    top: 5px;
}

.line-bot {
    position: relative;
    border-bottom: 3px solid var(--black);
}

.line-bot::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--black);
    position: absolute;
    left: 0;
    bottom: 5px;
}

/* hover-line */
.line-hover:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--black500);
}